* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    width: 300px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
input {
    border-radius: 8px;
    font-size: 16px;
    border: solid 1px;
    padding: 3px;
    
    
}
input:hover {
    border-color: #a0a0a0;
    background-color: #fff;
}

button {
    border-radius: 8px;
    border: none;
    padding: 3px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightslategray;
    gap: 10px;
    padding: 10px;
    border-radius: 11px;
}
h1 {
    font-size: 40px;
    margin-bottom: 15px;
    font-family: FreeMono, monospace;
}
p {
    font-family: DejaVu Sans Mono, monospace;
    margin-bottom: 15px;
}
span {
    color: #2d3748;
    font-family: DejaVu Sans Mono, monospace;
}
img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    border-radius: 7px;
}